$cor-principal: #e4e4e4;
$cor-secundaria: #8409b4;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto($cor-principal, $cor-secundaria ) {
    width: 50%;
    background-color: $cor-principal;
    .texto{
        margin-top: 40%;
        text-align: center;
        font-size: 150px;
        color: $cor-secundaria;
    }
}

body{
    @include reset();
}

.container{
    height: 100vh;
    display: flex;
    .esquerdo{
        @include cor-e-texto($cor-principal, $cor-secundaria);
        }
    
    .direito{
       @include cor-e-texto($cor-secundaria, $cor-principal);
        }

    }
    
